<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Analysis</title>
    <link rel="stylesheet" href="../static/css/perfomance.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Performance Analysis Dashboard</h1>
        
        <div class="performance-section">
            <div class="chart-container">
                <h2>Test Performance Analysis</h2>
                <canvas id="performanceChart"></canvas>
            </div>
        </div>
    </div>
    <script src="../static/js/perfomance.js"></script>
</body>
</html>